<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
        <span class="navbar-brand" href="#">Scheduler</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/homepage">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/parameter">Days/Hours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/professor">Professor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/group">Group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/room">Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course">Course</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/generateSchedule">Generate Schedule</a>
                </li>
            </ul>
        </div>
    </nav>
    <p class="m-2 text-center display-2">Create Course</p>
    <div class="card mx-5 text-center">
        <div class="card-body">
            <form action="/course" method="post">

                Course Name
                <input type="text" name="courseName" required><br>

                Professors teaching : 
                <%for(const prof of profs){%>
                    <input type="checkbox" name=<%='P' + prof._id%> id=<%='P' + prof._id%>>
                        <label for=<%='P' + prof._id%>> <%=prof.profName%> </label>
                        <%}%> <br> <br>

                            Groups Studying : 
                            <%for(const group of groups){%>
                                <input type="checkbox" name=<%='G' + group._id%> id=<%='G' + group._id%>>
                                    <label for=<%='G' + group._id%>> <%=group.groupName%> </label>
                                    <%}%> <br> <br>
                                        <h2>Fill the below 3 boxes with 0 if you don't wanna use the standard template.
                                        </h2>
                                        Select the number of Lectures for this course. <input type="number" required
                                            min="0" name="numberOfLectures"> <br>
                                        Select the number of Tutorials for this course. <input type="number" required
                                            min="0" name="numberOfTutorials"> <br>
                                        Select the number of Labs for this course. <input type="number" required min="0"
                                            name="numberOfLabs"> <br>

                                        <button type="submit">Add this Course</button>
            </form>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

</html>