<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Course</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <form action=<%= "/editCourse/" + String(course._id)%> method="post">
        <h1> <%=course.courseName%> </h1> <br>
        The following professors teach the course. <br>
        <% for(const prof of profs){ if(course.taughtBy.includes(prof._id)){%>
        <input type="checkbox" name=<%=prof._id%> id=<%=prof._id%> checked>
        <label for=<%=prof._id%>> <%=prof.profName%> </label>
        <%} else {%>
        <input type="checkbox" name=<%=prof._id%> id=<%=prof._id%>>
        <label for=<%=prof._id%>> <%=prof.profName%> </label>
        <%}}%> <br> <br>
        The following groups take the course.<br>
        <% for(const group of groups){ if(course.taughtTo.includes(group._id)){%>
        <input type="checkbox" name=<%=group._id%> id=<%=group._id%> checked>
        <label for=<%=group._id%>> <%=group.groupName%> </label>
        <%} else {%>
        <input type="checkbox" name=<%=group._id%> id=<%=group._id%>>
        <label for=<%=group._id%>> <%=group.groupName%> </label>
        <%}}%> <br> <br>
        <button type="submit">Save changes</button>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>