<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>


    <h1>Current Group</h1>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <%=group.groupName%> : <%=group.groupQuantity%> <br>
            Free Periods <br>
            <%for(const busyPeriod of group.unAvialability){%>
            <%="D" + String(Math.floor(busyPeriod / periodsPerDay)+1) + "P" + String((busyPeriod % periodsPerDay) + 1)%>
            and <%}%> <br>
        <a href="/deleteGroup/<%=group._id%>">Delete</a>
      </div>
    </div>
  </div>
        <br><br>
        <form action="/editGroup/<%=group._id%>" method="post">
            Group Name
            <input type="text" name="groupName" required value="<%=group.groupName%>">
            Number of Students in the group
            <input type="number" name="groupQuantity" value="<%=group.groupQuantity%>" required> <br> <br>
            Add the periods the groups have free. <br>
            <%for(let day =0 ; day < numberOfDays ; day++){%>
            Day <%=day+1%> : <% for(let period=0 ; period < periodsPerDay ; period++){ %>
            <input type="checkbox" name=<%="periodTaken" + String(day*periodsPerDay + (period))%>
                id=<%="periodTaken" + String(day*periodsPerDay + (period))%> <%=group.unAvialability.includes(day*periodsPerDay + period) ? "checked" : "haha" %> >
            <label for=<%="periodTaken" + String(day*periodsPerDay + (period))%>> <%="Period "+String(period+1)%>
            </label>
            <%}%> <br> <%}%>
            <button type="submit">Update this Group</button>
        </form>
        <br><br>
        Click <a href="/homepage">here</a> to goto homepage.
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>