<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Period</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
        <span class="navbar-brand" href="#">Scheduler</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/homepage">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/parameter">Days/Hours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/professor">Professor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/group">Group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/room">Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course">Course</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/generateSchedule">Generate Schedule</a>
                </li>
            </ul>
        </div>
    </nav>
    <p class="m-2 text-center display-2">Periods</p>    
    <%for(const period of periods){%>
        <div class="container">
            <div class="row">
                <div class="col-4  border rounded border-success">
                    <h3>Period name : <%=period.periodName%></h3> <br>
                    Parent Course : <%=period.parentCourse%> <br>
                    Professor : <%=period.profTaking%> <br>
                    Period Length = <%=period.periodLength%> <br>
                    Period Frequency : <%=period.periodFrequency%> <br>
                    Groups Attending : <%for(const group of period.groupsAttending){%> <%=group%>, <%}%> <br>
                Room :  <%=period.roomUsed%>,<br>
                Preference : <%=period.preference%> <br>
                    <a href=<%="/deletePeriod/"+period._id%>>Delete</a> this period. <br> <br>
                </div>
            </div>
        </div>
    <%}%>

  
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>

</html>